<div class="container">
    {{#each model as |favorite|}}
        <div class="col-xs-4">
            <div class="col-xs-12 fav-box">
                <button type="button" class="btn btn-link pull-right del" {{action 'delete' favorite}}>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <ul class="list-unstyled">
                    <li><label>{{favorite.location.name}}</label></li>
                    <li>{{favorite.location.currentForecast.temperature}}&deg;</li>
                    <li>{{favorite.location.currentForecast.summary}}</li>

                </ul>
                <div class="col-xs-12">
                    {{#each favorite.location.dailyForecast as |day| }}
                        <div class="col-xs-4 small-day-block">
                            {{format-day day.time}}<br />
                            &nbsp;{{day.temperatureMax}}&deg;
                        </div>
                    {{/each}}
                </div>

            </div>
        </div>
    {{/each}}
</div>
